<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="border border-dark p-3 text-center">Projet API</h2>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8"> <!-- Utilisation de col-md-8 pour occuper 80% de la page sur les écrans moyens et grands -->
            <div class="row">
                <div class="col-md-6 mb-3"> <!-- Changé de col-md-4 à col-md-6 -->
                    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/api/api0.png" class="img-fluid border border-dark">
                </div>
                <div class="col-md-6 mb-3"> <!-- Changé de col-md-4 à col-md-6 -->
                    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/api/api1.png" class="img-fluid border border-dark">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3"> <!-- Changé de col-md-4 à col-md-6 -->
                    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/api/api5.png" class="img-fluid border border-dark">
                </div>
                <div class="col-md-6 mb-3"> <!-- Changé de col-md-4 à col-md-6 -->
                    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/api/api2.png" class="img-fluid border border-dark">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3"> <!-- Changé de col-md-4 à col-md-6 -->
                    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/api/api3.png" class="img-fluid border border-dark">
                </div>
                <div class="col-md-6 mb-3"> <!-- Changé de col-md-4 à col-md-6 -->
                    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/api/api4.png" class="img-fluid border border-dark">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
