<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="width: 80%;text-align: center">
    <img style="border:1px solid black" src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/api/api0.png" >
    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/api/api1.png">
    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/api/api2.png" >
    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/api/api3.png" >
    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/api/api4.png">
</div>
</body>
</html>