<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2 style="border:1px solid black;padding: 10px;">Projet Bâtiments</h2>
<div style="width: 80%; ">
    <img style="width: 80%" src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/fme/ecran_fme.png" ><br/>
    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/fme/fme_apex_mandat.png">
    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/fme/logistique.png" >
    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/fme/valorisation.png" >

</div>
</body>
</html>