<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 style="text-align: center">Projet Bâtiments</h2>
<div style=" margin-left: auto;
  margin-right: auto;width: 80%; ">
    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/fme/ecran_fme.png" ><br/>
    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/fme/fme_apex_mandat.png">
    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/fme/logistique.png" >
    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/fme/valorisation.png" >

</div>
</body>
</html>