<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Projet Evenementiels</h3>
<div class="container" style="width: 80%;text-align: center">
  <img src="/MyRessources/projets/events/class%20apex.png" class="image">
  <img src="/MyRessources/projets/events/flow.png" class="image">
  <img src="/MyRessources/projets/events/renduDetail.png" class="image">
  <img src="/MyRessources/projets/events/renduRelated.png" class="image">
</div>
</body>
</html>