<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet Evenementiels</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="border border-dark p-3 text-center">Projet Evenementiels</h2>
    <div class="row justify-content-center mt-3">
        <div class="col-md-10"> <!-- Utilisation de col-md-10 pour occuper 80% de la page sur les écrans moyens et grands -->
            <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/events/class%20apex.png" class="img-fluid border border-dark mb-3">
            <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/events/flow.png" class="img-fluid border border-dark mb-3">
            <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/events/spectacles.png" class="img-fluid border border-dark"> <!-- Suppression de la classe "image" -->
        </div>
    </div>
</div>
</body>
</html>
