<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Rapports / Sondages pour des campagnes marketing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Rapports / Sondages et processus d'emails pour des campagnes marketing</h1>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8"> <!-- Utilisation de col-md-8 pour occuper 80% de la page sur les écrans moyens et grands -->
            <div class="card border-dark mb-3">
                <div class="card-header bg-dark text-white">
                    Exemple de rapports
                </div>
                <div class="card-body text-center">
                    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/formation/image.png" class="img-fluid border rounded" alt="Exemple de rapport">
                </div>
            </div>
            <div class="card border-dark">
                <div class="card-header bg-dark text-white">
                    Process d'emails
                </div>
                <div class="card-body text-center">
                    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/formation/pardot2.jpeg" class="img-fluid border rounded" alt="Exemple de rapport">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
