<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire Salesforce</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
<div class="container">
    <h2 style="border:1px solid black;padding: 10px;text-align: center">Reservation d'hotel en ligne</h2>

    <p class="lead text-center">Création de formulaire connecté à Salesforce pour la création de prospects</p>
    <div class="container mt-5">
        <div class="card border-primary">
            <div class="card-header bg-primary text-white">
                Exemple de code HTML
            </div>
            <div class="card-body">
                form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8&orgId=XXX" method="POST"
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        <a class="btn btn-primary btn-lg" href="https://www.lhtp.fr/contact" target="_blank">Lien vers le formulaire <i class="fas fa-desktop"></i></a>
    </div>

</div>
</body>
</html>
