<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        /* Ajouter du style personnalisé si nécessaire */
        img {
            display: block; /* Pour centrer correctement les images */
            margin: 0 auto; /* Pour centrer horizontalement */
        }
        .centered-video {
            display: block;
            margin: 0 auto;
            width: 800px; /* Vous pouvez ajuster cette valeur selon vos besoins */
            height: 450px; /* Vous pouvez ajuster cette valeur selon vos besoins */
        }

    </style>
</head>
<body>
<h2 style="border:1px solid black;padding: 10px;text-align: center">Projet pompiers</h2>

<h3 style="padding: 10px;text-align: center">Site partenaire</h3>
<video class="centered-video" controls>
    <source src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/sira/site_sira.mov" type="video/mp4">
    <!-- Message à afficher si le navigateur ne peut pas afficher la vidéo -->
    Votre navigateur ne supporte pas la lecture de vidéos.
</video>

</body>
</html>