<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Trailhead</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-center">

<h2 class="border border-dark p-3">Trailhead</h2>
<a class="btn btn-primary btn-lg btn-learn" href="https://trailhead.salesforce.com/fr/trailblazers">
    Lien Trailhead <i class="fas fa-desktop"></i>
</a>

<div class="text-center mt-3">
    <img src="https://ychichpo.github.io/yoel_ch/MyRessources/projets/trailhead.png" class="img-fluid" style="max-width: 70%;">

</div>

</body>
</html>
