<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Ajouter du style personnalisé si nécessaire */
    img {
      display: block; /* Pour centrer correctement les images */
      margin: 0 auto; /* Pour centrer horizontalement */
    }

  </style>
</head>
<body>
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-6 border p-4 text-center">
      <h3>Côté Administrateur</h3>
    </div>
  </div>
</div>

<div class="container text-center">

  <img src="../../../MyRessources/space.png" width="80%">
  <img src="../../../MyRessources/salles.png" width="80%"><br/><br/>
  <img src="../../../MyRessources/matieres.png" width="80%"><br/><br/>
  <img src="../../../MyRessources/soutiens2.png" width="80%"><br/><br/>
  <img src="../../../MyRessources/statAdmin.png" width="80%"><br/>
</div>

<!-- Bootstrap JS (facultatif, seulement si vous en avez besoin) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
