<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Ajout de la bibliothèque Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">


    <div class="jumbotron text-center">
        <h1 class="display-4">Requêtes Salesforce</h1>
    </div>

    <div class="alert alert-info" role="alert" style="margin: 20px 0;">
        <p class="lead">Nous effectuons des requêtes pour afficher des données essentielles, assurant ainsi une <span style="text-decoration: underline"><b>visualisation claire et concise</b></span> pour certains clients.</p>
        <p class="lead">En outre, nous facilitons la <span style="text-decoration: underline"><b>migration des données</b></span>   vers le nouveau CRM de nos clients, en utilisant des requêtes Salesforce pour ajouter les données pertinentes et assurer une transition fluide.</p>
    </div>

</div>

<!-- Ajout de la bibliothèque jQuery et du script Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
