<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classes Apex Salesforce</title>
    <!-- Ajout de la bibliothèque Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">

    <h1 class="text-center">Classes Apex Salesforce</h1>

    <div class="alert alert-info" role="alert" style="margin: 20px 0;">
        <p class="lead">Les classes Apex dans Salesforce sont des éléments clés pour personnaliser et étendre la fonctionnalité de la plateforme.</p>
    </div>
</div>
<div style="text-align: center">
    <img src="../../MyRessources/shemaApex.png" width="80%">
</div>
</body>
</html>
