<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classes Apex Salesforce</title>
    <!-- Ajout de la bibliothèque Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">

    <h1 class="text-center">Classes Apex Salesforce</h1>

    <div class="alert alert-info" role="alert" style="margin: 20px 0;">
        <p class="lead">Les classes Apex dans Salesforce sont des éléments clés pour personnaliser et étendre la fonctionnalité de la plateforme.</p>
        <p class="lead">Utilité : Les classes Apex permettent de créer des logiques métier personnalisées côté serveur, offrant une flexibilité accrue pour répondre aux besoins spécifiques de l'entreprise.</p>
        <p class="lead">Pertinence : Elles sont essentielles pour définir des processus métier complexes, automatiser des tâches répétitives, et intégrer des fonctionnalités sur mesure dans l'écosystème Salesforce.</p>
        <p class="lead">Langage Utilisé : Apex est le langage de programmation utilisé, basé sur la syntaxe Java, facilitant la création de fonctionnalités robustes et la manipulation de données côté serveur.</p>
        <p class="lead">Potentiel : Les classes Apex offrent un potentiel considérable en permettant le développement d'applications sur mesure, l'interaction avec des API externes, et l'optimisation des processus métier dans Salesforce.</p>
    </div>
</div>
<div style="text-align: center">
    <img src="../../MyRessources/shemaApex.png" width="80%">
</div>
</body>
</html>
