<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Ajout de la bibliothèque Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">

    <div class="jumbotron text-center">
        <h1 class="display-4">VisualForce</h1>
    </div>

    <div class="alert alert-info" role="alert" style="margin: 20px 0;">
        <p class="lead">Visualforce est une technologie de développement web exclusive à Salesforce, permettant la création d'interfaces utilisateur personnalisées.<br/>(formulaires, pdf, etc ...)</p>
        <p class="lead">Elle utilise une <span style="text-decoration: underline"><b>syntaxe similaire à HTML</b></span> et  <span style="text-decoration: underline"><b>intègre des contrôleurs Apex</b></span> pour manipuler les données côté serveur.</p>
        <p class="lead">Grâce à Visualforce, les développeurs peuvent concevoir des <span style="text-decoration: underline"><b>pages web interactives et dynamiques</b></span> , personnalisant ainsi l'expérience utilisateur dans l'écosystème Salesforce.</p>

    </div>


</div>


</body>
</html>
