<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .centered-video {
            display: block;
            margin: 0 auto;
            width: 800px; /* Vous pouvez ajuster cette valeur selon vos besoins */
            height: 450px; /* Vous pouvez ajuster cette valeur selon vos besoins */
        }
    </style>
</head>
<body>




<div style="text-align: center">
    <h2 style="margin-bottom: 20px;">Exemples de tests</h2>
    <h4>Tests pour la possibilté de la génération d'un fichier d'informations depuis l'interface Compte client
        <br/> & Tests pour la récupération de ces informations par une extension pour les requêtes
    </h4>
</div>


<video class="centered-video" style="margin-bottom: 30px;" controls>
    <source src="/MyRessources/video-tests-1-V2.mov" type="video/mp4">
    <!-- Message à afficher si le navigateur ne peut pas afficher la vidéo -->
    Votre navigateur ne supporte pas la lecture de vidéos.
</video>
<div style="text-align: center">

    <h4>Tests pour la création d'un fichier mandat (sorte de devis) depuis l'interface d'une opportunité
        <br/> & Tests pour la création d'un objet mandat,ses produits associés et
        récupération du lien du document (pour les mails)

    </h4>
</div>
<video class="centered-video" controls>
    <source src="/MyRessources/video-tests-2.mov" type="video/mp4">
    <!-- Message à afficher si le navigateur ne peut pas afficher la vidéo -->
    Votre navigateur ne supporte pas la lecture de vidéos.
</video>


</body>
</html>