<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <style>

    </style>
</head>
<body style="text-align: center;font-size: 16px;">


<h2>1ère année</h2>

<a class="btn btn-primary btn-lg btn-learn" href="https://ychichpo.github.io/yoel_ch/templates/proket/trailhead.html">
    Traihead<i class="fas fa-desktop"></i>
</a>
<a class="btn btn-primary btn-lg btn-learn" href="https://ychichpo.github.io/yoel_ch/templates/proket/pompiers.html">
    Projet Pompiers<i class="fas fa-desktop"></i>
</a>

<a class="btn btn-primary btn-lg btn-learn" href="https://ychichpo.github.io/yoel_ch/templates/proket/hotel.html">
    Projet Hôtelerie<i class="fas fa-desktop"></i>
</a>



<a class="btn btn-primary btn-lg btn-learn" href="https://ychichpo.github.io/yoel_ch/templates/proket/formation.html">
    Projet Formations<i class="fas fa-desktop"></i>
</a>





<h2>2ème année</h2>

<a class="btn btn-primary btn-lg btn-learn" href="https://ychichpo.github.io/yoel_ch/templates/proket/evenementiel.html">
    Projet Evenementiels<i class="fas fa-desktop"></i>
</a>

<a class="btn btn-primary btn-lg btn-learn" href="https://ychichpo.github.io/yoel_ch/templates/proket/batiments.html">
    Projet Bâtiments<i class="fas fa-desktop"></i>
</a>
<a class="btn btn-primary btn-lg btn-learn" href="https://ychichpo.github.io/yoel_ch/templates/proket/api.html">
    Projet API<i class="fas fa-desktop"></i>
</a>





</body>
</html>