<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-center" style="font-size: 16px;">

<h2 class="mt-5">1ère année</h2>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <!--<a href="https://ychichpo.github.io/yoel_ch/templates/proket/trailhead.html" class="btn btn-primary btn-lg btn-block">Trailhead <i class="fas fa-desktop"></i></a>-->
            <a href="https://ychichpo.github.io/yoel_ch/templates/access_denied.html" class="btn btn-primary btn-lg btn-block">Trailhead <i class="fas fa-desktop"></i></a>

        </div>
        <div class="col-md-6 mb-3">
            <!-- <a href="https://ychichpo.github.io/yoel_ch/templates/proket/pompiers.html" class="btn btn-primary btn-lg btn-block">Projet Pompiers <i class="fas fa-desktop"></i></a>-->
             <a href="https://ychichpo.github.io/yoel_ch/templates/access_denied.html" class="btn btn-primary btn-lg btn-block">Projet Pompiers <i class="fas fa-desktop"></i></a>

         </div>
         <div class="col-md-6 mb-3">
             <!--  <a href="https://ychichpo.github.io/yoel_ch/templates/proket/hotel.html" class="btn btn-primary btn-lg btn-block">Projet Hôtelerie <i class="fas fa-desktop"></i></a>-->
               <a href="https://ychichpo.github.io/yoel_ch/templates/access_denied.html" class="btn btn-primary btn-lg btn-block">Projet Hôtelerie <i class="fas fa-desktop"></i></a>

           </div>
           <div class="col-md-6 mb-3">
               <!--<a href="https://ychichpo.github.io/yoel_ch/templates/proket/formation.html" class="btn btn-primary btn-lg btn-block">Projet Formations <i class="fas fa-desktop"></i></a>-->
                <a href="https://ychichpo.github.io/yoel_ch/templates/access_denied.html" class="btn btn-primary btn-lg btn-block">Projet Formations <i class="fas fa-desktop"></i></a>

            </div>
        </div>
    </div>

    <h2 class="mt-5">2ème année</h2>

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-3">
                <!--  <a href="https://ychichpo.github.io/yoel_ch/templates/proket/evenementiel.html" class="btn btn-primary btn-lg btn-block">Projet Evenementiels <i class="fas fa-desktop"></i></a>-->
                  <a href="https://ychichpo.github.io/yoel_ch/templates/access_denied.html" class="btn btn-primary btn-lg btn-block">Projet Evenementiels <i class="fas fa-desktop"></i></a>

              </div>
              <div class="col-md-6 mb-3">
                  <!--  <a href="https://ychichpo.github.io/yoel_ch/templates/proket/batiments.html" class="btn btn-primary btn-lg btn-block">Projet Bâtiments <i class="fas fa-desktop"></i></a>-->
                    <a href="https://ychichpo.github.io/yoel_ch/templates/access_denied.html" class="btn btn-primary btn-lg btn-block">Projet Bâtiments <i class="fas fa-desktop"></i></a>

                </div>
                <div class="col-md-6 mb-3">
                   <!-- <a href="https://ychichpo.github.io/yoel_ch/templates/proket/api.html" class="btn btn-primary btn-lg btn-block">Projet API <i class="fas fa-desktop"></i></a>-->
                    <a href="https://ychichpo.github.io/yoel_ch/templates/access_denied.html" class="btn btn-primary btn-lg btn-block">Projet API <i class="fas fa-desktop"></i></a>

                </div>
            </div>
        </div>

        </body>
        </html>
