<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Ajoutez ici le lien vers Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<div style="text-align: center">
    <!-- Ajoutez le lien avant les images -->

    <h1>Projet SNCF</h1>
    <h3>Inscription et Gestion de présences pour différentes formations
        destinés aux agents</h3>
    <h4> Connaissance apprises : Requêtes SQL , ArrayList</h4>
    <a href="https://github.com/ychichpo/Tp_SNCF_Java" class="btn btn-primary">Lien GitHub</a><br/>


    <!-- Ajoutez les images -->
    <img src="../../MyRessources/prjSncf01.png" width="60%"><br/>
    <img src="../../MyRessources/prjSncf02.png" width="60%"><br/>
    <img src="../../MyRessources/prjSncf03.png" width="60%">
</div>

<!-- Ajoutez ici le script de Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
