<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div style="text-align: center">
    <h1>Projet SNCF</h1>
    <h2>Inscription et Gestion de présences pour différentes formations
        destinés aux agents</h2>
    <h3> Connaissance apprises : Requêtes SQL , ArrayList</h3>

    <img src="../MyRessources/prjSncf01.png" width="60%"><br/>
    <img src="../MyRessources/prjSncf02.png" width="60%"><br/>
    <img src="../MyRessources/prjSncf03.png" width="60%">
</div>

</body>
</html>