<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>


<div style="text-align: center">
    <h1>Projet Bourse</h1>
    <h3>Pouvoir visualiser différents graphiques pour des statistiques</h3>
    <!-- <a href="https://github.com/ychichpo/TP_Graphique_Trader_Java" class="btn btn-primary">Lien GitHub</a><br/>-->

   <img src="../../MyRessources/bourse1.png" width="70%"><br/>
   <img src="../../MyRessources/bourse2.png" width="70%"><br/>
   <img src="../../MyRessources/bourse3.png" width="70%">

</div>

</body>
</html>