<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div style="text-align: center">

    <h1>Audit de code</h1>
    <h3> Connaissance apprises : Detection des failles de sécurité,
        Attribution des accés relatifs aux rôles
        cloisonnement des espaces</h3>
    <h4>Exemple : Garage en ligne</h4>

    <img src="../../MyRessources/acl.png" width="60%"><br/>
    <img src="../../MyRessources/cloisonnement.png" width="60%"><br/>

</div>

</body>
</html>