<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div style="text-align: center">

    <h1>Workflow Invoice</h1>
    <h3> Connaissance apprises : Parcours </h3>

    <h3>Liste de factures</h3>
    <img src="../MyRessources/wf00.png" width="60%"><br/>
    <h3>Détails des factures</h3>
    <img src="../MyRessources/wf03.png" width="60%"><br/>
    <img src="../MyRessources/wf02.png" width="60%"><br/>
    <img src="../MyRessources/wf01.png" width="60%"><br/>


</div>

</body>
</html>