<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>


<div style="text-align: center">

    <h1>Audit de code</h1>
    <h3> Connaissance apprises :</h3><h4>Detection des failles de sécurité,
        Attribution des accés relatifs aux rôles
        cloisonnement des espaces</h4>
    <a href="https://github.com/ychichpo/cyber-audit-code-symfony" class="btn btn-primary">Lien GitHub</a><br/>



    <img src="../../MyRessources/Audit-YoelChicheportiche_page-0001.jpg" width="60%"><br/>
    <img src="../../MyRessources/Audit-YoelChicheportiche_page-0002.jpg" width="60%"><br/>
    <img src="../../MyRessources/Audit-YoelChicheportiche_page-0003.jpg" width="60%"><br/>
    <img src="../../MyRessources/Audit-YoelChicheportiche_page-0004.jpg" width="60%">

</div>

</body>
</html>