<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .centered-video {
            display: block;
            margin: 0 auto;
            width: 800px; /* Vous pouvez ajuster cette valeur selon vos besoins */
            height: 450px; /* Vous pouvez ajuster cette valeur selon vos besoins */
        }
    </style>
</head>
<body>


<div style="text-align: center">

    <h1>WELPORT </h1>
    <h3>Version JAVA</h3>
    <div style="text-align: center">

        <h4>Connexion par un éleve de BTS SIO 1

        </h4>
    </div>
    <video class="centered-video" controls>
        <source src="/templates/MyRessources/user-1-V2.mov" type="video/mp4">
        <!-- Message à afficher si le navigateur ne peut pas afficher la vidéo -->
        Votre navigateur ne supporte pas la lecture de vidéos.
    </video>
    <div style="text-align: center">

        <h4>Connexion par un éleve de MASTER 2

        </h4>
    </div>
    <video class="centered-video" controls>
        <source src="/templates/MyRessources/user-2.mov" type="video/mp4">
        <!-- Message à afficher si le navigateur ne peut pas afficher la vidéo -->
        Votre navigateur ne supporte pas la lecture de vidéos.
    </video>
    <div style="text-align: center">

        <h4>
            Connexion par un Administrateur
        </h4>
    </div>
    <video class="centered-video" controls>
        <source src="/templates/MyRessources/admin2.mov" type="video/mp4">
        <!-- Message à afficher si le navigateur ne peut pas afficher la vidéo -->
        Votre navigateur ne supporte pas la lecture de vidéos.
    </video>


</div>

</body>
</html>